flask
requests
psycopg2-binary
python-telegram-bot
gunicorn
beautifulsoup4
cachetools
telethon
qrcode
qrcode
telegram
beautifulsoup4
cachetools
flask
gunicorn
psycopg2-binary
python-telegram-bot
qrcode
requests
telegram
telethon
